body { 
	margin:0px;
	background-color:white; 
	border:solid white 1px;
	background-repeat:no-repeat; 
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-size:10pt;
	color:#444444;
}
a { 
	font-size:9pt; 
	color:#4444CC; 
	font-weight:bold; 
	text-decoration:none;
}
a:hover { 
	color:#0000FF; 
}
a.large {
	font-size:12pt; 
	color:#4444CC; 
}
a.large:hover { 
	text-decoration:underline; 
}
.small { 
	font-size:8pt; 
	color:#4444CC; 
	font-weight:normal;
}
#divHeader {
	position:absolute;
	top:0px;
	left:0px;
	width:600px;
	height:80px;
}
#divShortcuts {
	position:absolute;
	top:80px;
	left:0px;
	width:600px;
	height:20px;
	text-align:center;
}
#divAirlines { 
	position:absolute;
	top:110px;
	left:0px;
	width:600px;
	height:490px;
	overflow:auto;
	z-index:10;
	display:none;
}
#divCloseButton {
	position:absolute;
	top:600px;
	left:0px;
	width:600px;
	height:25px;
	text-align:center;
	padding-top:15px;
}
input.btnAccept 
{ 
	width:140px;
	height:40px;	
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-size:9pt; 
	font-weight:bold; 
	color:white; 
	border:solid #5050B0 1px; 
	background-color:#5050B0; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:  5px;
	border-top-right-radius: 5px;
	border-top-left-radius:  5px;
}
input.btnDecline 
{ 
	width:140px;
	height:40px;
	font-family: Tahoma, "Trebuchet MS", sans-serif; 
	font-size:9pt; 
	font-weight:bold; 
	color:white; 
	border:solid #5050B0 1px; 
	background-color:#5050B0; 
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:  5px;
	border-top-right-radius: 5px;
	border-top-left-radius:  5px;
	
}
select { 
	width:140px;
	height:40px;
	font-family: Tahoma, "Trebuchet MS", sans-serif; 
	font-size:10pt; 
	font-weight:bold; 
	color:white; 
	background-color:#5050B0; 
	border:solid #5050B0 1px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius:  5px;
	border-top-right-radius: 5px;
	border-top-left-radius:  5px;
}


.gtkMiddleBlack
{
	font-family: Tahoma, "Trebuchet MS", sans-serif;
	font-weight: normal;
	font-size: 10pt; 
	color: Black;
}

.gtkFooter
{
	text-align: center;
	vertical-align: middle;
	background-color: white;
	height: 50px;
	width: 100%; 
	position: absolute; 
	bottom: 0;
}
