body {
	background-color:black;
	margin:0px;
	overflow:hidden;
}
#divAnimation {
	position:absolute;
	top:0px;
	left:0px;
	font-family:"Trebuchet MS", sans-serif;
	font-size:3em;
	font-weight:bold;
	color:red;
	text-align:center;
	z-index:1;
}
#divDebug {
	position:absolute;
	top:0px;
	left:0px;
	width:500px;
	height:400px;
	z-index:2;
	background-color:white;
}

