body {
	overflow:hidden;
	width:100%;
	height:100%;
	margin:0px;
	background-color:white;
	font-family:"Trebuchet MS", sans-serif;
}
.container {
	display: grid;
	grid-template-columns: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
	grid-template-rows: 0.5fr 0.5fr 0.2fr 2fr 0.2fr 1fr 0.2fr 0.5fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		". . . . . ."
		". Logo Logo . LogoutButton ."
		". . . . . ."
		". Content Content Content Content ."
		". . . . . ."
		". buttons buttons buttons buttons ."
		". labels labels labels labels ."
		". . . . . .";
	width:100vw;
	height:100vh;
	/* border:solid 1px black; */
}
.Content {
	grid-area:Content;
}
.Logo {
	grid-area: Logo;
	background-image:url(../img/logo/guesttek-logo.png);
	background-size: contain;
    background-repeat: no-repeat;
	/* border:solid 1px black; */
}
.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "button_internet button_hotelinfo button_maps button_weather button_airlines button_office button_fileexplorer";
	grid-area: buttons;
	/* border:solid 1px black; */
}
.labels {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas: "label_internet label_hotelinfo label_maps label_weather label_airlines label_office label_fileexplorer";
	grid-area: labels;
	/* border:solid 1px black; */
}
.button {
	cursor:pointer;
}
.button_internet {
	grid-area: button_internet;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	/* border:solid 1px black; */
	
	background-image:url(../img/buttons/edge.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_internet {
	grid-area: label_internet;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.button_hotelinfo {
	grid-area: button_hotelinfo;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	/* border:solid 1px black; */
	
	background-image:url(../img/buttons/info.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_hotelinfo {
	grid-area: label_hotelinfo;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.button_maps {
	grid-area: button_maps;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	
	background-image:url(../img/buttons/maps.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_maps {
	grid-area: label_maps;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.button_weather {
	grid-area: button_weather;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	
	background-image:url(../img/buttons/weather.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_weather {
	grid-area: label_weather;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.button_airlines {
	grid-area: button_airlines;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	
	background-image:url(../img/buttons/airlines.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_airlines {
	grid-area: label_airlines;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.button_office {
	grid-area: button_office;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	
	background-image:url(../img/buttons/msoffice.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_office {
	grid-area: label_office;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.button_fileexplorer {
	grid-area: button_fileexplorer;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	
	background-image:url(../img/buttons/file_explorer.png);
	background-size: contain;
    background-repeat: no-repeat;
	background-position:center center;
	background-color:white;
}
.label_fileexplorer {
	grid-area: label_fileexplorer;
	width:80%;
	height:80%;
	justify-self: center;
	align-self: center;
	text-align: center;
	/* border:solid 1px black; */
}

.LogoutButton {
	grid-area: LogoutButton;
	justify-self: right;
	align-self: right;
}