body {
	background-color:black;
	margin:0px;
	overflow:hidden;
}
#divImg {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	opacity:0.0;
	filter:alpha(opacity=0);
	background-image:url(spacer.gif);
	background-color:black;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:contain;
	-ms-behavior: url(backgroundsize.htc);
	z-index:1;
}
#divDebug {
	position:absolute;
	top:0px;
	left:0px;
	width:500px;
	height:400px;
	z-index:2;
	background-color:white;
	display:none;
}

