html, body { 
	overflow:hidden;
}
body {
	margin: 0px;
	background-image:url('../img/bg/blank-desktop.png');
	background-color:#FFFFFF;
	font-family:"Trebuchet MS", sans-serif;
}

table.tableButtons {
	padding:0px;
}

tr.trButtons {
	width:844px;
	text-align:center;
}

td.tdlogout {
	vertical-align:middle;
	width:844px;
}

td.tdSpacers {
	width:28px;
}

td.tdLabels {
	cursor:pointer;
}

td.tdButtons {
	width:96px;
	height:96px;
	text-align:center;
	vertical-align:middle;
	cursor:normal;
}


td.tdButtonsOver {
	width:96px;
	height:96px;
	text-align:center;
	vertical-align:middle;
	background-image:url('../img/bg/w8buttonfg.png');
	cursor:pointer;
}

tr.trmButtons {
	width:844px;
}

td.tdmLabel {
	font-size:10px;
	text-align:left;
	left:5px;
}

td.tdmSpacer {
	width:652px;
}

td.tdmButtons {
	text-align:center;
	width:48px;
	vertical-align:top;
}

td.tdmButtonsOver {
	text-align:center;
	width:48px;
	vertical-align:top;
	background-image:url('../img/bg/mbuttonbg.png');
}

td.tdLanguage {
	width:50px;
	text-align:center;
	vertical-align:middle;
}

td.tdLanguageOver {
	width:50px;
	text-align:center;
	vertical-align:middle;
	background-image:url('../img/bg/w8buttonbg.png');
}

a.aButtons {
	font-size:14px;
	color:black;
	text-decoration:none;
	cursor:pointer;
}

a.mButtons {
	font-size:12px;
	color:black;
	text-decoration:none;
	cursor:pointer;
}

select.classSlctLanguage {
	display:none;
	width:200px;
}

#logo {
	position:absolute;
	top:50%;
	width:100%;
	height:80px;
	margin-top:-340px; 
	text-align:center;
}

#logoimage {
	width:844px;
	height:100px;
}

#languages {
	position:absolute;
	height:100px;
	/* top:2px; */
	top:102px;
	width:844px;
	left:50%;
	margin-left:-422px;
	z-index:100;
}
#languages_dropdown {
	float:right;
}
#languagespacer {
	width:644px;
}

#banner {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
	z-index:80;
}


#buttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:60px; /* ( (104/2) )*/
	text-align:center;
}

#minibuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:88px;
	margin-top:200px; /* ( (88/2) )*/
	text-align:center;
}

#site-address {
	position:absolute;
	bottom:60px;
	width:100%;
	padding:10px;
	text-align:center;
	font-size:12px;
	color:black;
}

#support-phone-number {
	font-size:12px;
	color:#888888;
}
#support-system-id {
	font-size:12px;
	color:#888888;
}

#imgLogoutButton {
	vertical-align:middle;
}

#logout {
	position:absolute;
	width:100%;
	top:26px;
	padding:2px;
	text-align:right;
}

#footer {
	position:absolute;
	bottom:60px;
	width:100%;
	height:60px;
	text-align:center;
}

#clock {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-180px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:right;
	z-index:90;
}
#main_time {
	font-size:72px;
	color:#dddddd;
	font-family:"Trebuchet MS", sans-serif;
}
#main_day {
	font-size:40px;
	color:#cccccc;
	font-family:"Trebuchet MS", sans-serif;
}
#main_date {
	font-size:24px;
	color:#cccccc;
	font-family:"Trebuchet MS", sans-serif;
}
#socialbanner {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
}
#officebanner {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
}
#socialtitle {
	margin-top:-160px;
	text-align:center;
}
#officetitle {
	margin-top:-160px;
	text-align:center;
}
#socialbuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:60px; /* ( (104/2) )*/
	text-align:center;
}
#officebuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:60px; /* ( (104/2) )*/
	text-align:center;
}


@media only screen and (max-width: 1920px) {

tr.trButtons {
	width:1092px;
	text-align:center;
}

td.tdlogout {
	vertical-align:middle;
	width:1055px;
}

td.tdSpacers {
	width:40px;
}

td.tdLabels {
	cursor:pointer;
}

td.tdButtons {
	width:96px;
	height:96px;
	text-align:center;
	vertical-align:middle;
	cursor:normal;
}


td.tdButtonsOver {
	width:96px;
	height:96px;
	text-align:center;
	vertical-align:middle;
	background-image:url('../img/bg/w8buttonfg.png');
	cursor:pointer;
}

tr.trmButtons {
	width:1092px;
}

td.tdmLabel {
	font-size:10px;
	text-align:left;
	left:5px;
}

td.tdmSpacer {
	width:880px;
}

td.tdmButtons {
	text-align:center;
	width:48px;
	vertical-align:top;
}

td.tdmButtonsOver {
	text-align:center;
	width:48px;
	vertical-align:top;
	background-image:url('../img/bg/mbuttonbg.png');
}

td.tdLanguage {
	width:50px;
	text-align:center;
	vertical-align:middle;
}

td.tdLanguageOver {
	width:50px;
	text-align:center;
	vertical-align:middle;
	background-image:url('../img/bg/w8buttonbg.png');
}

a.aButtons {
	font-size:14px;
	color:black;
	text-decoration:none;
	cursor:pointer;
}

a.mButtons {
	font-size:12px;
	color:black;
	text-decoration:none;
	cursor:pointer;
}

select.classSlctLanguage {
	display:none;
	width:200px;
}

#logo {
	position:absolute;
	top:50%;
	width:100%;
	height:80px;
	margin-top:-380px; 
	text-align:center;
}

#logoimage {
	width:1092px;
	height:130px;
}
#languages {
	position:absolute;
	height:100px;
	/* top:2px; */
	top:102px;
	width:1092px;
	left:50%;
	margin-left:-560px; /* - (50% + 14) */
	z-index:100;
}
#languages_dropdown {
	float:right;
}
#languagespacer {
	width:862px;
}

#banner {
	position:absolute;
	top:50%;
	width:100%;
	height:354px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
	z-index:80;
}

#banner_image {
	width:1092px;
	height:354px;
}


#buttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:140px; /* ( (104/2) )*/
	text-align:center;
	z-index:80;
}

#minibuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:88px;
	margin-top:240px; /* ( (88/2) )*/
	text-align:center;
}

#site-address {
	position:absolute;
	bottom:60px;
	width:100%;
	padding:10px;
	text-align:center;
	font-size:12px;
	color:black;
}

#support-phone-number {
	font-size:12px;
	color:#888888;
}
#support-system-id {
	font-size:12px;
	color:#888888;
}

#imgLogoutButton {
	vertical-align:middle;
}

#logout {
	position:absolute;
	width:100%;
	top:26px;
	padding:2px;
	text-align:right;
}

#footer {
	position:absolute;
	bottom:60px;
	width:100%;
	height:60px;
	text-align:center;
}

#clock {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-180px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:right;
	z-index:90;
}
#main_time {
	font-size:72px;
	color:#dddddd;
	font-family:"Trebuchet MS", sans-serif;
}
#main_day {
	font-size:40px;
	color:#cccccc;
	font-family:"Trebuchet MS", sans-serif;
}
#main_date {
	font-size:24px;
	color:#cccccc;
	font-family:"Trebuchet MS", sans-serif;
}
#socialbanner {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
}
#officebanner {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
}
#socialtitle {
	margin-top:-220px;
	text-align:center;
}
#officetitle {
	margin-top:-220px;
	text-align:center;
}
#socialbuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:140px; /* ( (104/2) )*/
	text-align:center;
}
#officebuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:140px; /* ( (104/2) )*/
	text-align:center;
}

}



@media only screen and (max-width: 1279px) {

tr.trButtons {
	width:1092px;
	text-align:center;
}

td.tdSpacers {
	width:10px;
}


tr.trmButtons {
	width:1092px;
}


td.tdmSpacer {
	width:652px;
}

td.tdlogout {
	vertical-align:middle;
	width:824px;
}

#logo {
	position:absolute;
	top:50%;
	width:100%;
	height:80px;
	margin-top:-320px; 
	text-align:center;
}
#logoimage {
	width:844px;
	height:100px;
}

#languages {
	position:absolute;
	height:100px;
	/* top:2px; */
	top:102px;
	width:844px;
	left:50%;
	margin-left:-436px; /* - (50% + 14) */
	z-index:100;
}
#languages_dropdown {
	float:right;
}
#languagespacer {
	width:624px;
}

#banner {
	position:absolute;
	top:50%;
	width:100%;
	height:271px;
	margin-top:-212px; /* - ( (260/2) + (104/2) + (60/2) )*/
	text-align:center;
}

#banner_image {
	width:844px;
	height:271px;
}

#buttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:60px; /* ( (104/2) )*/
	text-align:center;
}

#minibuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:88px;
	margin-top:200px; /* ( (88/2) )*/
	text-align:center;
}

#site-address {
	position:absolute;
	bottom:60px;
	width:100%;
	padding:10px;
	text-align:center;
	font-size:12px;
	color:black;
}

#support-phone-number {
	font-size:12px;
	color:#888888;
}
#support-system-id {
	font-size:12px;
	color:#888888;
}

#footer {
	position:absolute;
	bottom:80px;
	width:100%;
	height:60px;
	text-align:center;
}
#socialtitle {
	margin-top:-160px;
	text-align:center;
}
#officetitle {
	margin-top:-160px;
	text-align:center;
}
#socialbuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:60px; /* ( (104/2) )*/
	text-align:center;
}
#officebuttons {
	position:absolute;
	top:50%;
	width:100%;
	height:104px;
	margin-top:60px; /* ( (104/2) )*/
	text-align:center;
}

}