body {
	margin:0;
	background-color:black;
	overflow-y:auto;
	overflow-x:hidden;
}
.redText {
	color:red;
}
.yellowText {
	color:yellow;
}
.greenText {
	color:lightgreen;
}
a {
	color:#ff8000;
	text-decoration:none;
}
a:hover {
	color:white;
	text-decoration:underline;
}
a.menu {
	color:black;
	text-decoration:none;
}
a.menu:hover {
	color:black;
	text-decoration:underline;
}
#header {
	position:float;
	background-color:white;
	width:100vw;
	height:4vh;
	top:0;
	left:0;
	font-family: monospace,monospace;
	font-weight:bold;
	font-size:3vh;
	color:black;
	text-align:left;
	padding-left:1vh;
	z-index:2;
}
#menu {
	position:absolute;
	background-color:white;
	width:100vw;
	height:2vh;
	top:4vh;
	left:0;
	font-family: monospace,monospace;
	font-weight:bold;
	font-size:2vh;
	color:black;
	text-align:left;
	padding-left:1vh;
	z-index:2;
}
#content {
	position:absolute;
	width:100vw;
	top:8vh;
	left:0;
	font-family: monospace,monospace;
	font-size:1.2vh;
	color:white;
	text-align:left;
	padding-left:1vh;
	z-index:2;
}
table {
	border-spacing: 10px 0;
}