<div class="wikidoc"><b>Intellisense is included in the object and full documentation is available in the Downloads section.</b><br />
<h1>Usage Example</h1>
Assume the following the are contents of <i>MyFile.ini</i>:<br /><pre>
[Section 1]
Key1=This value
Key2=That value

[Section 2]
Key1=Section key
Another key=Here
</pre><br /><br />Code block:<br /><pre>
Dim iniTest As New IniFileDriver.IniFile(&quot;MyFile.ini&quot;)

With iniTest

    &#39; value1 is set to &#39;This value&#39;.
    Dim value1 As String = .GetKeyValue(&quot;Section 1&quot;, &quot;Key1&quot;)

    &#39; value2 is set to &#39;That value&#39;.
    Dim value2 As String = .GetKeyValue(&quot;Section 1&quot;, &quot;Key2&quot;,
                                        defaultValue:=&quot;n/a&quot;)

    &#39; value3 is set to &#39;n/a&#39;.
    Dim value3 As String = .GetKeyValue(&quot;Section 1&quot;, &quot;Key3&quot;,
                                        defaultValue:=&quot;n/a&quot;)

    If value3 = &quot;n/a&quot; Then
        value3 = &quot;This and That value&quot;
    End If

    .SetKeyData(&quot;Section 1&quot;, &quot;Key2&quot;,
                value:=value2 &amp; &quot;-updated&quot;)

    &#39; Default behavior is to create if the path doesn&#39;t exist.
    &#39; &#39;Key3&#39; will be added to &#39;Section 1&#39;.
    .SetKeyData(&quot;Section 1&quot;, &quot;Key3&quot;,
                value:=value3)


    &#39; &#39;Key3&#39; does not exist in &#39;Section 2&#39; and the option to
    &#39; automatically create is disabled.
    .SetKeyData(&quot;Section 2&quot;, &quot;Key3&quot;,
                value:=&quot;Will not be created.&quot;,
                createIfNotExist:=False)


    &#39; &#39;New Section&#39; and the specified keys will be created.
    .SetKeyData(&quot;New Section&quot;, &quot;New Key 1&quot;,
                value:=&quot;Created key 1&quot;,
                comments:=&quot;This key did not previously exist.&quot;)

    .SetKeyData(&quot;New Section&quot;, &quot;New Key 2&quot;,
                value:=&quot;Created key 2&quot;,
                comments:=&quot;This key didn&#39;t exist either.&quot;)

    &#39; Update the comments on the newly created section.
    .SetSectionData(&quot;New Section&quot;,
                    comments:=&quot;This section was created on the fly.&quot;)


    &#39; Push all changes.
    .SaveFile()

End With
</pre><br /><br />New contents of <i>MyFile.ini</i>:<br /><pre>
[Section 1]
Key1=This value
Key2=That value-updated
Key3=This and That value


[Section 2]
Key1=Section key
Another key=Here


; This section was created on the fly.
[New Section]

; This key did not previously exist.
New Key 1=Created key 1

; This key didn&#39;t exist either.
New Key 2=Created key 2
</pre></div><div class="ClearBoth"></div>