<div class="wikidoc"><b>Project Description</b><br />.NET object class for handling manipulation of Ini Files.<br />This driver supports full read&#47;write operations.<br /><br /><br />Features:
<ul><li>Full read/write/creation support.</li>
<li>Easy to use: most operations can be done with a single line of code.</li>
<li>Supports comments at the section and key level.</li>
<li>Supports implied and manual ordering of sections and keys.</li>
<li>Full intellisense comments included.</li>
<li>Uses .NET 2.0 (for flexibility purposes).</li>
<li>No crazy namespaces (just IniFileDriver.IniFile).</li></ul>
<br /><i>Important Notice</i><br />The save operation will refactor existing Ini Files according to the object&#39;s style logic (which should be pretty standard).</div><div class="ClearBoth"></div>