html {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    margin:0px;
    overflow:hidden;
    background-color: #a00000;
}

a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#divWrapper {
    height:100vh;
}

#divTop {
    width:70vw;
    height:20vh;
    left:35vw;
    transform: translate(15vw,0);
}

#divLogout {
    height:8vh;
    width:70vw;
    text-align: right;
    margin-top:2vh;
    font-size:1vw;
}

#divLogout img {
    vertical-align: middle;
}

#divSupport {
    width:70vw;
    height:2vh;
    text-align: right;
    font-size:0.75vw;
}

#divMachineInfo {
    height:4vh;
    width:70vw;
    text-align: right;
    font-size:0.75vw;
}

#divMachineInfo .txtSystemId {

}

#divMachineInfo .txtSystemIdValue {
    font-style:italic;
}

#divMachineInfo .txtSoftwareVersion {

}

#divMachineInfo .txtSoftwareVersionValue {
    font-style:italic;
}

#divLanguages {
    position: absolute;
    top:14vh;
    right:0;
    height:4vh;
    text-align: right;
    font-size:0.75vw;
}

#divCenter {
	position:absolute;
	top:0px;
	left:0px;
	height:100vh;
    width:100vw;
	text-align:center;
}

#divCenter h1 {
	padding-top:50vh;
	line-height:100%;
    color:white;
    font-weight: bold;
    text-decoration: underline;
}

#divLogo {
    position: absolute;
    height:13vh;
    top:8vh;
    width:20vw;
    left:15vw;
    text-align: left;
}

#divLogo img {
    margin:0;
    position: absolute;
    bottom:0px;
    left:0px;
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
    display:block;
}

#divClock {
    position:relative;
    height:15vh;
    width:70vw;
    bottom:15vh;
    left:0;
}

#divClockText {
    position: absolute;
    width:70vw;
    bottom:0px;
    transform: translate(-0.5vw,-0.5vw);
    text-align: right;
}

#divClockText span#txtClockTime {
    font-size:2.5vw;
}

#divClockText span#txtClockDate {
    font-size:1vw;
}

#divBottom {
    height:20vh;
    width:70vw;
    left:35vw;
    transform: translate(15vw,0);
}
#divHotelAddress {
    position:relative;
    width:100%;
    top:5vh;
    text-align: center;
}

#divOffice {
    display: none;
}

#divOffice table {
    width:100%;
}

#divOffice td {
    text-align: center;
    width:33%;
    font-weight: bold;
}

#divAirlinesLinks {
    position:relative;
    width:100%;
    height:5vh;
    background-color: white;
    z-index: 101;
}

#divAirlines {
    display: none;
}

#divAirlinesLinks a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}

#divAirlinesLinks a:hover {
    text-decoration: underline;
}

#divAirlinesContent {
    position:relative;
    top:0vh;
    height:45vh;
    overflow-y: scroll;
}

#divAirlinesContent p {
    text-align: center;
}

#divAirlinesContent a {
    color:black;
    font-weight: bold;
    text-decoration: none;
}
#divAirlinesContent a:hover {
    text-decoration: underline;
}
